section {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    label {
      padding: 20px 20px;
      input {
        margin-left: 20px;
      }
    }
    button {
      padding: 10px;
      width: 125px;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      font-size: 24px;
      background-color: blueviolet;
      color: white;
      border-radius: 5px;
    }
  }
}
